<?xml version="1.0" encoding="UTF-8"?>
<includes>
	<include name="menu_Commons">
		<left>-262</left>
		<control type="image" id="1">
			<width>270</width>
			<height>screen_Height</height>
			<texture background="true">colorize/100.png</texture>
			<colordiffuse>base_2</colordiffuse>
		</control>
		<animation type="Conditional" reversible="true" condition="ControlGroup(6000).HasFocus() | ControlGroup(4000).HasFocus()">
			<effect type="slide" time="350" start="0" end="262" tween="Quadratic" easing="Out" />
		</animation>
		<include>transition_Content</include>
		<visible>!Skin.HasSetting(global.kiosk)</visible>
	</include>
	<include name="menu_ContainerCommons">
		<top>41</top>
		<width>270</width>
		<height>670</height>
		<onleft>noop</onleft>
		<onright condition="Window.IsActive(eventlog)">570</onright>
		<onright>50</onright>
		<onup>6000</onup>
		<ondown>6000</ondown>
		<onback>50</onback>
		<itemgap>0</itemgap>
		<animation type="Conditional" reversible="true" condition="ControlGroup(4000).HasFocus()">
			<effect type="fade" time="0" start="100" end="0" tween="Quadratic" easing="Out" />
		</animation>
	</include>
	<include name="menu_SubContainerCommons">
		<top>41</top>
		<onup>4000</onup>
		<ondown>4000</ondown>
		<width>270</width>
		<height>670</height>
		<onleft>6000</onleft>
		<onright>50</onright>
		<onback>6000</onback>
		<itemgap>0</itemgap>
		<visible allowhiddenfocus="true">ControlGroup(4000).HasFocus()</visible>
	</include>
	<include name="menu_Header">
		<height>50</height>
		<font>semibold_Small-U</font>
		<textoffsetx>15</textoffsetx>
		<textoffsety>4</textoffsety>
		<textcolor>Color3</textcolor>
	</include>
	<include name="menu_Button">
		<width>270</width>
		<height>40</height>
		<font>light_Menu</font>
		<textcolor>Color3</textcolor>
		<focusedcolor>Color1</focusedcolor>
		<textoffsety>3</textoffsety>
		<textoffsetx>15</textoffsetx>
		<texturenofocus>-</texturenofocus>
		<texturefocus colordiffuse="column2">colorize/100.png</texturefocus>
		<alttexturefocus colordiffuse="column2">colorize/100.png</alttexturefocus>
		<alttexturenofocus>-</alttexturenofocus>
		<onback condition="ControlGroup(6000).HasFocus()">50</onback>
		<onback condition="ControlGroup(4000).HasFocus()">6000</onback>
		<onclick condition="ControlGroup(4000).HasFocus() + !SubString(Container.FolderPath,pvr://recordings) + !Window.IsActive(tvguide)">back</onclick>
	</include>
	<include name="menu_RadioButton">
		<textureradioonnofocus colordiffuse="Color3">settings/radio/on.png</textureradioonnofocus>
		<textureradiooffnofocus colordiffuse="Color3">settings/radio/off.png</textureradiooffnofocus>
		<textureradioonfocus colordiffuse="Color3">settings/radio/on.png</textureradioonfocus>
		<textureradioofffocus colordiffuse="Color3">settings/radio/off.png</textureradioofffocus>
		<radiowidth>29</radiowidth>
		<radioheight>24</radioheight>
		<disabledcolor>Disabled</disabledcolor>
	</include>
	<include name="menu_ViewMode">
		<control type="label" id="102">
			<height>50</height>
			<label>$LOCALIZE[582]</label>
			<include>menu_Header</include>
		</control>
		<control type="button" id="103">
			<label>$LOCALIZE[31114]$INFO[Container.ViewMode,: ]</label>
			<include>menu_Button</include>
			<onclick>SetFocus(4000)</onclick>
		</control>
		<control type="button" id="2">
			<visible>false</visible>
		</control>
	</include>
	<include name="menu_Sorting">
		<control type="label" id="200">
			<height>50</height>
			<label>$LOCALIZE[31140]</label>
			<include>menu_Header</include>
		</control>
		<control type="button" id="3">
			<label>$LOCALIZE[31149]$INFO[Container.SortMethod,: ]</label>
			<include>menu_Button</include>
		</control>
		<control type="button" id="202">
			<label>$LOCALIZE[31141]: $INFO[Container.SortOrder]</label>
			<include>menu_Button</include>
			<onclick>SendClick(4)</onclick>
			<enable>Control.IsEnabled(3)</enable>
		</control>
	</include>
	<include name="menu_LibraryHeader">
		<control type="label" id="208">
			<label>$LOCALIZE[14022]</label>
			<include>menu_Header</include>
		</control>
	</include>
	<include name="menu_Shares">
		<control type="radiobutton" id="209">
			<label>$LOCALIZE[20336]</label>
			<onclick>XBMC.Mastermode</onclick>
			<selected>System.IsMaster</selected>
			<include>menu_RadioButton</include>
			<include>menu_Button</include>
			<visible>System.HasLocks</visible>
		</control>
	</include>
	<include name="menu_Watched">
		<control type="radiobutton" id="14">
			<label>$LOCALIZE[20367]</label>
			<include>menu_Button</include>
			<include>menu_RadioButton</include>
			<visible>Control.IsEnabled(14)</visible>
		</control>
	</include>
	<include name="menu_Filter">
		<control type="edit" id="213">
			<label>$LOCALIZE[587]</label>
			<include>menu_Button</include>
			<onclick>SendClick(19)</onclick>
			<visible>Container.CanFilter + !Container.CanFilterAdvanced</visible>
		</control>
		<control type="radiobutton" id="214">
			<label>$LOCALIZE[587]</label>
			<onclick>right</onclick>
			<onclick>Filter</onclick>
			<selected>Container.Filtered</selected>
			<include>menu_Button</include>
			<include>menu_RadioButton</include>
			<visible>Container.CanFilterAdvanced</visible>
		</control>
	</include>
	<include name="menu_PartyMode">
		<control type="radiobutton" id="215">
			<label>$LOCALIZE[589]</label>
			<onclick condition="Window.IsVisible(MusicLibrary)">PlayerControl(PartyMode(music))</onclick>
			<onclick condition="Container.Content(musicvideos)">PlayerControl(PartyMode(video))</onclick>
			<include>menu_Button</include>
			<include>menu_RadioButton</include>
			<visible>Container.Content(musicvideos) | Window.IsVisible(MusicLibrary)</visible>
		</control>
	</include>
	<include name="menu_Update">
		<control type="togglebutton" id="216">
			<label>$LOCALIZE[653]</label>
			<altlabel>$LOCALIZE[13353]</altlabel>
			<onclick>SetFocus(50)</onclick>
			<onclick condition="Skin.HasSetting(cleanlibrary.enable) + Window.IsActive(videolibrary)">XBMC.CleanLibrary(video)</onclick>
			<onclick condition="Skin.HasSetting(cleanlibrary.enable) + Window.IsActive(musiclibrary)">XBMC.CleanLibrary(music)</onclick>
			<onclick>SendClick(20)</onclick>
			<usealttexture>Library.IsScanningVideo | Library.IsScanningMusic</usealttexture>
			<include>menu_Button</include>
		</control>
	</include>
	<include name="menu_Search">
		<control type="button" id="217">
			<label>$LOCALIZE[137]</label>
			<onclick>SetFocus(300)</onclick>
			<onclick condition="Skin.HasSetting(search.disable)">SendClick(8)</onclick>
			<onclick condition="!Skin.HasSetting(search.disable)">RunAddon(script.globalsearch)</onclick>
			<include>menu_Button</include>
		</control>
	</include>

	<include name="menu_ControlsButton">
		<width>40</width>
		<height>40</height>
	</include>

	<include name="menu_Playing">
		<control type="label" id="218">
			<label>$LOCALIZE[31034]</label>
			<include>menu_Header</include>
			<visible>Control.IsVisible(219) | Control.IsVisible(230)</visible>
		</control>
		<!--playing media / current playlist-->
		<control type="button" id="219">
			<label>$VAR[menu:Playing]</label>
			<onclick condition="Player.HasVideo">fullscreen</onclick>
			<onclick condition="Player.HasAudio">ActivateWindow(musicplaylist)</onclick>
			<onclick condition="!Player.HasMedia">$VAR[playlist_Type]</onclick>
			<include>menu_Button</include>
			<visible>StringCompare(Skin.String(menu.controls),fullscreen) + [Player.HasMedia | !Player.HasMedia + Skin.HasSetting(menu.playlist) + [[Window.IsActive(videolibrary) + !StringCompare(Playlist.Length(video),0)] | [[Window.IsActive(musiclibrary) | Window.IsActive(musicfiles)]+ !StringCompare(Playlist.Length(music),0)]]]</visible>
		</control>
		<!--player controls-->
		<control type="group" id="230">
			<onright>50</onright>
			<visible>Player.HasMedia + StringCompare(Skin.String(menu.controls),player)</visible>
			<control type="image">
				<texture colordiffuse="column2">colorize/100.png</texture>
				<width>270</width>
				<height>48</height>
				<aspectratio>stretch</aspectratio>
				<visible>ControlGroup(230).HasFocus()</visible>
			</control>
			<control type="grouplist" id="231">
				<left>15</left>
				<top>4</top>
				<width>250</width>
				<onback>50</onback>
				<onleft>231</onleft>
				<onright>50</onright>
				<onup>217</onup>
				<ondown>102</ondown>
				<itemgap>10</itemgap>
				<orientation>horizontal</orientation>
				<!--channel down-->
				<control type="button" id="232">
					<texturefocus colordiffuse="Color1">player/sidebar/down-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/down-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>ChannelDown</onclick>
					<visible>VideoPlayer.Content(LiveTV)</visible>
				</control>
				<!--channel up-->
				<control type="button" id="233">
					<texturefocus colordiffuse="Color1">player/sidebar/up-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/up-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>ChannelUp</onclick>
					<visible>VideoPlayer.Content(LiveTV)</visible>
				</control>
				<!--previous-->
				<control type="button" id="234">
					<texturefocus colordiffuse="Color1">player/sidebar/prev-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/prev-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>PlayerControl(Previous)</onclick>
					<visible>!VideoPlayer.Content(LiveTV)</visible>
				</control>
				<!--pause-->
				<control type="togglebutton" id="235">
					<texturenofocus colordiffuse="Color3">player/sidebar/pause-nf.png</texturenofocus>
					<texturefocus colordiffuse="Color1">player/sidebar/pause-fo.png</texturefocus>
					<alttexturenofocus colordiffuse="Color3">player/sidebar/play-nf.png</alttexturenofocus>
					<alttexturefocus colordiffuse="Color1">player/sidebar/play-fo.png</alttexturefocus>
					<usealttexture>Player.Paused | Player.Forwarding | Player.Rewinding</usealttexture>
					<include>menu_ControlsButton</include>
					<onclick>PlayerControl(Play)</onclick>
					<visible>!VideoPlayer.Content(LiveTV)</visible>
					<enable>Player.PauseEnabled</enable>
				</control>
				<!--stop-->
				<control type="button" id="236">
					<texturefocus colordiffuse="Color1">player/sidebar/stop-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/stop-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>PlayerControl(Stop)</onclick>
				</control>
				<!--next-->
				<control type="button" id="237">
					<texturefocus colordiffuse="Color1">player/sidebar/next-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/next-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>PlayerControl(Next)</onclick>
					<visible>!VideoPlayer.Content(LiveTV)</visible>
				</control>
				<!--record-->
				<control type="togglebutton" id="238">
					<texturefocus colordiffuse="Color1">player/sidebar/rec-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/rec-nf.png</texturenofocus>
					<usealttexture>Player.Recording</usealttexture>
					<alttexturefocus colordiffuse="Color1">player/sidebar/rec-fo.png</alttexturefocus>
					<alttexturenofocus colordiffuse="Color3">player/sidebar/rec-fo.png</alttexturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>PlayerControl(Record)</onclick>
					<visible>VideoPlayer.Content(LiveTV)</visible>
					<enable>Player.CanRecord</enable>
					<animation effect="fade" start="100" end="50" time="0" condition="!Player.CanRecord">Conditional</animation>
				</control>
				<!--fullscreen-->
				<control type="button" id="239">
					<texturefocus colordiffuse="Color1">player/sidebar/fullscreen-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/fullscreen-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>fullscreen</onclick>
					<visible>Player.HasVideo</visible>
				</control>
				<!--playlist-->
				<control type="button" id="240">
					<texturefocus colordiffuse="Color1">player/sidebar/playlist-fo.png</texturefocus>
					<texturenofocus colordiffuse="Color3">player/sidebar/playlist-nf.png</texturenofocus>
					<include>menu_ControlsButton</include>
					<onclick>ActivateWindow(musicplaylist)</onclick>
					<visible>Player.HasAudio</visible>
				</control>
			</control>
		</control>
	</include>

<!--VIDEO MENU-->
	<include name="menu_Video">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<!--<include>menu_QuickNav</include>-->
				<include>menu_ViewMode</include>
			<!--viewtype options-->
				<!--list: poster or fanart-->
				<control type="togglebutton" id="110">
					<label>$LOCALIZE[31120]: $LOCALIZE[31121]</label>
					<altlabel>$LOCALIZE[31120]: $LOCALIZE[31122]</altlabel>
					<onclick>Skin.ToggleSetting(view.list.fanart)</onclick>
					<usealttexture>!Skin.HasSetting(view.list.fanart)</usealttexture>
					<include>menu_Button</include>
					<visible>Control.IsVisible(50) + [Container.Content(movies) | Container.Content(tvshows)] + !SubString(Container.FolderPath,plugin://)</visible>
				</control>
				<!--biglist: poster or fanart-->
				<control type="togglebutton" id="111">
					<label>$LOCALIZE[31120]: $LOCALIZE[31121]</label>
					<altlabel>$LOCALIZE[31120]: $LOCALIZE[31122]</altlabel>
					<onclick>Skin.ToggleSetting(view.biglist.posters)</onclick>
					<usealttexture>Skin.HasSetting(view.biglist.posters)</usealttexture>
					<include>menu_Button</include>
					<visible>Control.IsVisible(51) + !Container.Content(episodes) + !SubString(Container.FolderPath,plugin://)</visible>
				</control>
				<!--slide: poster or fanart-->
				<control type="button" id="112">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(521)">Container.SetViewMode(52)</onclick>
					<onclick condition="Control.IsVisible(52)">Container.SetViewMode(521)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(52) | Control.IsVisible(521)] + [Container.Content(movies) | Container.Content(tvshows)] + !SubString(Container.FolderPath,plugin://)</visible>
				</control>
				<!--gallery: fullscreen or strip-->
				<control type="button" id="113">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(531)">Container.SetViewMode(53)</onclick>
					<onclick condition="Control.IsVisible(53)">Container.SetViewMode(531)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(53) | Control.IsVisible(531)] +  [Container.Content(movies) | Container.Content(tvshows)]</visible>
				</control>
				<!--thumbnails: small or large grid-->
				<control type="button" id="114">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(571) + [Container.Content(movies) | Container.Content(tvshows) | Container.Content(seasons) | Container.Content(sets)]">Container.SetViewMode(57)</onclick>
					<onclick condition="Control.IsVisible(57) + [Container.Content(movies) | Container.Content(tvshows) | Container.Content(seasons) | Container.Content(sets)]">Container.SetViewMode(571)</onclick>
					<onclick condition="Control.IsVisible(574) + Container.Content(addons)">Container.SetViewMode(572)</onclick>
					<onclick condition="Control.IsVisible(572) + Container.Content(addons)">Container.SetViewMode(574)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(57) | Control.IsVisible(571) | Control.IsVisible(572) | Control.IsVisible(574)] + [Container.Content(movies) | Container.Content(tvshows) | Container.Content(seasons) | Container.Content(sets) | Container.Content(addons)]</visible>
				</control>
				<!--banners: small or large grid-->
				<control type="button" id="115">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(541)">Container.SetViewMode(54)</onclick>
					<onclick condition="Control.IsVisible(54)">Container.SetViewMode(541)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(54) | Control.IsVisible(541)] +  [Container.Content(tvshows) | [Container.Content(movies) + Skin.HasSetting(banner.movies.enable)]]</visible>
				</control>
			<!--options-->
				<include>menu_Sorting</include>
				<include>menu_LibraryHeader</include>
				<include>menu_Shares</include>
				<include>menu_Watched</include>
				<include>menu_Filter</include>
				<include>menu_PartyMode</include>
				<include>menu_Update</include>
				<include>menu_Search</include>
				<include>menu_Playing</include>
			</control>
		<!--viewtypes-->
			<control type="group">
				<control type="grouplist" id="4000">
					<include>menu_SubContainerCommons</include>
					<control type="label" id="401">
						<label>$LOCALIZE[31100]</label>
						<include>menu_Header</include>
					</control>
					<!--list-->
					<control type="button" id="402">
						<label>$LOCALIZE[535]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(50)</onclick>
					</control>
					<!--big list-->
					<control type="button" id="403">
						<label>$LOCALIZE[537]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(51)</onclick>
						<visible>Container.Content(movies) | Container.Content(tvshows) | Container.Content(episodes)</visible>
					</control>
					<!--slide portrait-->
					<control type="button" id="404">
						<label>$LOCALIZE[31112]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(52)</onclick>
						<visible>[Container.Content(movies) | Container.Content(tvshows) | Container.Content(seasons) | Container.Content(sets)]</visible>
					</control>
					<!--slide landscape-->
					<control type="button" id="405">
						<label>$LOCALIZE[31112]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(521)</onclick>
						<visible>Container.Content(episodes) | Container.Content(musicvideos) | [Container.Content(files) + Container.HasFiles + !SubString(Container.FolderPath,plugin://)]</visible>
					</control>
					<!--slide square-->
					<control type="button" id="406">
						<label>$LOCALIZE[31112]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(522)</onclick>
						<visible>Container.Content(addons)</visible>
					</control>
					<!--thumbnails portrait-->
					<control type="button" id="407">
						<label>$LOCALIZE[31113]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(57)</onclick>
						<visible>Container.Content(movies) | Container.Content(tvshows) | Container.Content(seasons) | Container.Content(sets) | Container.Content(actors) | Container.Content(artists)</visible>
					</control>
					<!--thumbnails landscape-->
					<control type="button" id="408">
						<label>$LOCALIZE[31113]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(575)</onclick>
						<visible>Container.Content(episodes) | Container.Content(musicvideos) | [Container.Content(files) + Container.HasFiles]</visible>
					</control>
					<!--thumbnails square-->
					<control type="button" id="409">
						<label>$LOCALIZE[31113]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(572)</onclick>
						<visible>[Container.Content(addons) | [Container.Content(files) + !Container.HasFiles + SubString(Container.FolderPath,plugin://)]]</visible>
					</control>
					<!--banners-->
					<control type="button" id="410">
						<label>$LOCALIZE[31110]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(541)</onclick>
						<visible>[Container.Content(tvshows) | [Container.Content(movies) + Skin.HasSetting(banner.movies.enable)]] + !SubString(Container.FolderPath,plugin://)</visible>
					</control>
					<!--gallery-->
					<control type="button" id="411">
						<label>$LOCALIZE[31111]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(53)</onclick>
						<visible>[Container.Content(tvshows) | Container.Content(movies)] + !SubString(Container.FolderPath,plugin://)</visible>
					</control>
					<!--tiles-->
					<control type="button" id="412">
						<label>$LOCALIZE[31109]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(58)</onclick>
						<visible>Container.Content(addons) | SubString(Container.FolderPath,addons://sources/) | SubString(Container.FolderPath,plugin://) | [Container.Content(files) + !SubString(Container.FolderPath,plugin://)]</visible>
					</control>
				</control>
			</control>
		</control>
	</include>

<!--MUSIC MENU-->
	<include name="menu_Music">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<include>menu_ViewMode</include>
			<!--viewtype options-->
				<!--list: artist thumb or fanart-->
				<control type="togglebutton" id="110">
					<label>$LOCALIZE[31120]: $LOCALIZE[31121]</label>
					<altlabel>$LOCALIZE[31120]: $LOCALIZE[31122]</altlabel>
					<onclick>Skin.ToggleSetting(view.list.artistfanart)</onclick>
					<usealttexture>Skin.HasSetting(view.list.artistfanart)</usealttexture>
					<include>menu_Button</include>
					<visible>Control.IsVisible(50) + Container.Content(artists) + !SubString(Container.FolderPath,plugin://)</visible>
				</control>
				<!--slide: landscape or portrait-->
				<control type="button" id="111">
					<label>$VAR[menu:LayoutSwitch]</label>
					<textwidth>250</textwidth>
					<onclick condition="Control.IsVisible(522)">Container.SetViewMode(521)</onclick>
					<onclick condition="Control.IsVisible(521)">Container.SetViewMode(522)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(521) | Control.IsVisible(522)] + Container.Content(artists)</visible>
				</control>
				<!--thumbnails: small or large grid (add-ons)-->
				<control type="button" id="112">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(574)">Container.SetViewMode(572)</onclick>
					<onclick condition="Control.IsVisible(572)">Container.SetViewMode(574)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(572) | Control.IsVisible(574)] + !Window.IsActive(artists)</visible>
				</control>
			<!--options-->
				<include>menu_Sorting</include>
				<include>menu_LibraryHeader</include>
				<include>menu_Shares</include>
				<include>menu_Filter</include>
				<include>menu_PartyMode</include>
				<include>menu_Update</include>
				<include>menu_Search</include>
				<include>menu_Playing</include>
			</control>
		</control>
	<!--viewtypes-->
		<control type="group">
			<control type="grouplist" id="4000">
				<include>menu_SubContainerCommons</include>
				<control type="label" id="401">
					<label>$LOCALIZE[31100]</label>
					<include>menu_Header</include>
				</control>
				<!--list-->
				<control type="button" id="402">
					<label>$LOCALIZE[535]</label>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(50)</onclick>
				</control>
				<!--slide-->
				<control type="button" id="403">
					<label>$LOCALIZE[31112]</label>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(522)</onclick>
					<visible>Container.Content(artists) | Container.Content(albums) | Container.Content(songs) | Container.Content(singles)</visible>
				</control>
				<!--thumbnails-->
				<control type="button" id="404">
					<label>$LOCALIZE[31113]</label>
					<onclick>Container.SetViewMode(572)</onclick>
					<include>menu_Button</include>
					<visible>Container.Content(artists)</visible>
				</control>
				<!--thumbnails square-->
				<control type="button" id="405">
					<label>$LOCALIZE[31113]</label>
					<onclick>Container.SetViewMode(572)</onclick>
					<include>menu_Button</include>
					<visible>Container.Content(albums) | Container.Content(songs) | Container.Content(singles)</visible>
				</control>
				<!--tiles-->
				<control type="button" id="412">
					<label>$LOCALIZE[31109]</label>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(58)</onclick>
					<visible>Container.Content(albums) | Container.Content(artists) | Container.Content(songs) | SubString(Container.FolderPath,addons://sources/) | SubString(Container.FolderPath,plugin://)</visible>
				</control>
			</control>
		</control>
	</include>

<!--FILES MENU-->
	<include name="menu_Files">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<include>menu_ViewMode</include>
			<!--viewtype options-->
				<!--thumbnails: small or large grid (add-ons)-->
				<control type="button" id="110">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(574)">Container.SetViewMode(572)</onclick>
					<onclick condition="Control.IsVisible(572)">Container.SetViewMode(574)</onclick>
					<include>menu_Button</include>
					<visible>[Control.IsVisible(572) | Control.IsVisible(574)] + !Window.IsActive(pictures)</visible>
				</control>
			<!--options-->
				<include>menu_Sorting</include>
				<!--slideshow-->
				<control type="label" id="203">
					<label>$LOCALIZE[33063]</label>
					<include>menu_Header</include>
					<visible>Window.IsActive(pictures)</visible>
				</control>
				<control type="button" id="204">
					<label>$LOCALIZE[108]</label>
					<onclick>SendClick(6)</onclick>
					<include>menu_Button</include>
					<visible>Window.IsActive(pictures)</visible>
				</control>
				<!--recursive slideshow-->
				<control type="button" id="205">
					<label>$LOCALIZE[361]</label>
					<onclick>SendClick(7)</onclick>
					<include>menu_Button</include>
					<visible>Window.IsActive(pictures)</visible>
				</control>
				<!--randomize toggle-->
				<control type="radiobutton" id="206">
					<label>$LOCALIZE[13319]</label>
					<onclick>SendClick(9)</onclick>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
					<visible>Window.IsActive(pictures)</visible>
				</control>
				<include>menu_LibraryHeader</include>
				<include>menu_Filter</include>
				<include>menu_Search</include>
				<include>menu_Playing</include>
			</control>
		</control>
	<!--viewtypes-->
		<control type="group">
			<control type="grouplist" id="4000">
				<include>menu_SubContainerCommons</include>
				<control type="label" id="401">
					<label>$LOCALIZE[31100]</label>
					<include>menu_Header</include>
				</control>
				<!--list-->
				<control type="button" id="402">
					<label>$LOCALIZE[535]</label>
					<textwidth>250</textwidth>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(50)</onclick>
				</control>
				<!--slide-->
				<control type="button" id="40">
					<label>$LOCALIZE[31112]</label>
					<textwidth>250</textwidth>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(522)</onclick>
					<visible>Container.Content(addons)</visible>
				</control>
				<!--thumbnails-->
				<control type="button" id="403">
					<label>$LOCALIZE[31113]</label>
					<textwidth>250</textwidth>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(572)</onclick>
					<visible>!IsEmpty(Container.FolderPath) + Container.HasFiles</visible>
				</control>
				<!--gallery-->
				<control type="button" id="405">
					<label>$LOCALIZE[31111]</label>
					<textwidth>250</textwidth>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(53)</onclick>
					<visible>Window.IsActive(Pictures) + Container.HasFiles + !IsEmpty(Container.FolderPath) + !SubString(Container.Folderpath,addons://sources/)</visible>
				</control>
				<!--tiles-->
				<control type="button" id="406">
					<label>$LOCALIZE[31109]</label>
					<include>menu_Button</include>
					<onclick>Container.SetViewMode(58)</onclick>
					<visible>[Window.IsActive(Pictures) + !SubString(Container.Folderpath,addons://sources/)] | [Window.IsActive(Programs) + !IsEmpty(Container.FolderPath) + Container.HasFiles]</visible>
				</control>
			</control>
		</control>
	</include>

<!--ADD-ONS MENU-->
	<include name="menu_Addons">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<include>menu_ViewMode</include>
			<!--viewtype options-->
				<!--thumbnails: small or large grid (add-ons)-->
				<control type="button" id="110">
					<label>$VAR[menu:LayoutSwitch]</label>
					<onclick condition="Control.IsVisible(574)">Container.SetViewMode(572)</onclick>
					<onclick condition="Control.IsVisible(572)">Container.SetViewMode(574)</onclick>
					<include>menu_Button</include>
					<visible>Control.IsVisible(572) | Control.IsVisible(574)</visible>
				</control>
			<!--options-->
				<include>menu_Sorting</include>
				<!--add-ons header-->
				<control type="label" id="203">
					<label>$LOCALIZE[24001]</label>
					<include>menu_Header</include>
				</control>
				<!--auto-updates-->
				<control type="button" id="5">
					<label>$LOCALIZE[24063]</label>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
				</control>
				<!--notifications-->
				<control type="radiobutton" id="6">
					<label>$LOCALIZE[25000]</label>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
				</control>
				<!--hide foreign-->
				<control type="radiobutton" id="7">
					<label>$LOCALIZE[25001]</label>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
				</control>
				<!--hide broken-->
				<control type="radiobutton" id="8">
					<label>$LOCALIZE[24999]</label>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
				</control>
				<!--check for updates-->
				<control type="button" id="9">
					<label>$LOCALIZE[24034]</label>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
				</control>
				<include>menu_LibraryHeader</include>
				<include>menu_Search</include>
				<include>menu_Playing</include>
			</control>
		<!--viewtypes-->
			<control type="group">
				<control type="grouplist" id="4000">
					<include>menu_SubContainerCommons</include>
					<control type="label" id="401">
						<label>$LOCALIZE[31100]</label>
						<include>menu_Header</include>
					</control>
					<!--list-->
					<control type="button" id="402">
						<label>$LOCALIZE[535]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(50)</onclick>
					</control>
					<!--slide-->
					<control type="button" id="403">
						<label>$LOCALIZE[31112]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(522)</onclick>
						<visible>Container.Content(addons) + !IsEmpty(Container.FolderPath) + ![StringCompare(Container.FolderPath,addons://disabled/) | StringCompare(Container.FolderPath,addons://enabled/) | StringCompare(Container.FolderPath,addons://repos/)]</visible>
					</control>
					<!--thumbnails-->
					<control type="button" id="404">
						<label>$LOCALIZE[31113]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(572)</onclick>
						<visible>Container.Content(addons) + !IsEmpty(Container.FolderPath) + ![StringCompare(Container.FolderPath,addons://disabled/) | StringCompare(Container.FolderPath,addons://enabled/) | StringCompare(Container.FolderPath,addons://repos/)]</visible>
					</control>
					<!--tiles-->
					<control type="button" id="405">
						<label>$LOCALIZE[31109]</label>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(58)</onclick>
						<visible>Container.Content(addons)</visible>
					</control>
				</control>
			</control>
		</control>
	</include>

<!--PLAYLIST MENU-->
	<include name="menu_Playlist">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<!--playlist header-->
				<control type="label" id="19">
					<label>$LOCALIZE[559]</label>
					<include>menu_Header</include>
				</control>
				<!--shuffle-->
				<control type="radiobutton" id="20">
					<label>$LOCALIZE[191]</label>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
				</control>
				<!--repeat-->
				<control type="button" id="26">
					<label>$LOCALIZE[486]</label>
					<include>menu_Button</include>
				</control>
				<!--save-->
				<control type="button" id="21">
					<label>$LOCALIZE[190]</label>
					<include>menu_Button</include>
				</control>
				<!--clear-->
				<control type="button" id="22">
					<label>$LOCALIZE[192]</label>
					<include>menu_Button</include>
					<onclick>back</onclick>
				</control>
				<include>menu_LibraryHeader</include>
				<include>menu_Search</include>
				<include>menu_Playing</include>
			</control>
		</control>
	</include>

<!--PVR MENU-->
	<include name="menu_TV">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
			<!--actions-->
				<control type="label" id="203">
					<label>$LOCALIZE[31406]</label>
					<include>menu_Header</include>
				</control>
				<!--channels-->
				<control type="button" id="100">
					<label>$VAR[menu:ChannelSwitch]</label>
					<include>menu_Button</include>
					<onback>PreviousMenu</onback>
					<onclick condition="Window.IsActive(tvchannels) | Window.IsActive(radiochannels)">NextChannelGroup</onclick>
					<onclick condition="IsEmpty(Window.Property(IsRadio))">ActivateWindow(tvchannels)</onclick>
					<onclick condition="!IsEmpty(Window.Property(IsRadio))">ActivateWindow(radiochannels)</onclick>
				</control>
				<!--guide-->
				<control type="button" id="101">
					<label>$LOCALIZE[22020]</label>
					<include>menu_Button</include>
					<onback>PreviousMenu</onback>
					<onclick condition="Window.IsActive(tvguide) | Window.IsActive(radioguide)">NextChannelGroup</onclick>
					<onclick condition="IsEmpty(Window.Property(IsRadio))">ActivateWindow(tvguide)</onclick>
					<onclick condition="!IsEmpty(Window.Property(IsRadio))">ActivateWindow(radioguide)</onclick>
				</control>
				<!--recordings-->
				<control type="button" id="102">
					<onback>PreviousMenu</onback>
					<label>$LOCALIZE[19163]</label>
					<include>menu_Button</include>
					<onback>PreviousMenu</onback>
					<onclick condition="IsEmpty(Window.Property(IsRadio))">ActivateWindow(tvrecordings)</onclick>
					<onclick condition="!IsEmpty(Window.Property(IsRadio))">ActivateWindow(RadioRecordings)</onclick>
				</control>
				<!--timers-->
				<control type="button" id="103">
					<label>$LOCALIZE[19040]</label>
					<include>menu_Button</include>
					<onback>PreviousMenu</onback>
					<onclick condition="IsEmpty(Window.Property(IsRadio))">ActivateWindow(TVTimers)</onclick>
					<onclick condition="!IsEmpty(Window.Property(IsRadio))">ActivateWindow(RadioTimers)</onclick>
				</control>
				<!--search-->
				<control type="button" id="104">
					<label>$LOCALIZE[137]</label>
					<include>menu_Button</include>
					<onback>PreviousMenu</onback>
					<onclick condition="IsEmpty(Window.Property(IsRadio))">ActivateWindow(TVSearch)</onclick>
					<onclick condition="!IsEmpty(Window.Property(IsRadio))">ActivateWindow(RadioSearch)</onclick>
				</control>
			<!--view options-->
				<control type="label" id="150">
					<label>$LOCALIZE[582]</label>
					<include>menu_Header</include>
					<visible>Window.IsActive(tvrecordings) | Window.IsActive(radiorecordings) | Window.IsActive(tvguide) | Window.IsActive(radioguide)</visible>
				</control>
				<control type="button" id="151">
					<label>$LOCALIZE[31114]$INFO[Container.ViewMode,: ]</label>
					<include>menu_Button</include>
					<onclick>SetFocus(4000)</onclick>
					<visible>Window.IsActive(tvguide) | Window.IsActive(radioguide) | SubString(Container.FolderPath,pvr://recordings/)</visible>
				</control>
				<!--group recordings-->
				<control type="radiobutton" id="5">
					<label>$LOCALIZE[19270]</label>
					<onback>PreviousMenu</onback>
					<include>menu_RadioButton</include>
					<include>menu_Button</include>
					<visible>SubString(Container.FolderPath,pvr://recordings/)</visible>
				</control>
			<!--sorting-->
				<include>menu_Sorting</include>
			<!--options-->
				<control type="label" id="210">
					<label>$LOCALIZE[33063]</label>
					<include>menu_Header</include>
				</control>
				<!--channel groups-->
				<control type="button" id="28">
					<label>-</label>
					<include>menu_Button</include>
					<onback>PreviousMenu</onback>
					<visible>Window.IsActive(tvchannels) | Window.IsActive(radiochannels)</visible>
				</control>
				<!--toggle hidden channels-->
				<control type="radiobutton" id="6">
					<label>$LOCALIZE[19051]</label>
					<onback>PreviousMenu</onback>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
					<visible>Window.IsActive(tvchannels) | Window.IsActive(radiochannels)</visible>
				</control>
				<!--toggle deleted recordings-->
				<control type="radiobutton" id="7">
					<label>$LOCALIZE[19184]</label>
					<onback>PreviousMenu</onback>
					<include>menu_Button</include>
					<include>menu_RadioButton</include>
					<visible>Window.IsActive(tvchannels) | Window.IsActive(radiochannels)</visible>
				</control>
				<!--filter-->
				<include>menu_Filter</include>
			<!--commons-->
				<include>menu_Playing</include>
			</control>
		<!--viewtypes-->
			<control type="group">
				<control type="grouplist" id="4000">
					<include>menu_SubContainerCommons</include>
					<control type="label" id="401">
						<label>$LOCALIZE[31100]</label>
						<include>menu_Header</include>
					</control>
					<!--guide timeline-->
					<control type="button" id="402">
						<label>$LOCALIZE[19032]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(10)</onclick>
						<visible>Window.IsActive(tvguide) | Window.IsActive(radioguide)</visible>
					</control>
					<!--guide now-->
					<control type="button" id="403">
						<label>$LOCALIZE[19030]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(11)</onclick>
						<visible>Window.IsActive(tvguide) | Window.IsActive(radioguide)</visible>
					</control>
					<!--guide next-->
					<control type="button" id="404">
						<label>$LOCALIZE[19031]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(12)</onclick>
						<visible>Window.IsActive(tvguide) | Window.IsActive(radioguide)</visible>
					</control>
					<!--guide channels-->
					<control type="button" id="405">
						<label>$LOCALIZE[19029]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(13)</onclick>
						<visible>Window.IsActive(tvguide) | Window.IsActive(radioguide)</visible>
					</control>
					<!--recordings list-->
					<control type="button" id="410">
						<label>$LOCALIZE[535]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(50)</onclick>
						<visible>SubString(Container.FolderPath,pvr://recordings/)</visible>
					</control>
					<!--tv recordings slide-->
					<control type="button" id="411">
						<label>$LOCALIZE[31112]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(521)</onclick>
						<visible>Window.IsActive(tvrecordings)</visible>
					</control>
					<!--radio recordings slide-->
					<control type="button" id="412">
						<label>$LOCALIZE[31112]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(522)</onclick>
						<visible>Window.IsActive(radiorecordings)</visible>
					</control>
					<!--recordings thumbnails-->
					<control type="button" id="413">
						<label>$LOCALIZE[31113]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick condition="Window.IsActive(radiorecordings)">Container.SetViewMode(572)</onclick>
						<onclick condition="Window.IsActive(tvrecordings)">Container.SetViewMode(575)</onclick>
						<visible>Window.IsActive(tvrecordings) | Window.IsActive(radiorecordings)</visible>
					</control>
					<!--radio recordings tiles-->
					<control type="button" id="415">
						<label>$LOCALIZE[31109]</label>
						<textwidth>250</textwidth>
						<include>menu_Button</include>
						<onclick>Container.SetViewMode(58)</onclick>
						<visible>Window.IsActive(radiorecordings)</visible>
					</control>
				</control>
			</control>
		</control>
	</include>

<!--SETTINGS MENU-->
	<include name="menu_Settings">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
			<!--Settings level-->
				<control type="label" id="19">
					<label>$LOCALIZE[31205]</label>
					<include>menu_Header</include>
				</control>
				<control type="button" id="20">
					<onback>PreviousMenu</onback>
					<label>$LOCALIZE[10037]</label>
					<onclick>SettingsLevelChange</onclick>
					<include>menu_Button</include>
				</control>
				<!--now playing-->
				<include>menu_Playing</include>
			</control>
		</control>
	</include>

<!--OTHER MENU-->
	<include name="menu_Other">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<!--sorting-->
				<control type="label" id="200">
					<height>50</height>
					<label>$LOCALIZE[31140]</label>
					<include>menu_Header</include>
				</control>
				<control type="togglebutton" id="4">
					<label>$LOCALIZE[31141]: $LOCALIZE[584]</label>
					<altlabel>$LOCALIZE[31141]: $LOCALIZE[585]</altlabel>
					<include>menu_Button</include>
					<usealttexture>Container.SortDirection(Ascending)</usealttexture>
				</control>
				<!--options-->
				<control type="label" id="201">
					<height>50</height>
					<label>33063</label>
					<include>menu_Header</include>
				</control>
				<!--level-->
				<control type="button" id="21">
					<textwidth>235</textwidth>
					<include>menu_Button</include>
					<label>-</label>
					<visible>Window.IsActive(eventlog)</visible>
				</control>
				<!--only current level-->
				<control type="radiobutton" id="22">
					<include>menu_RadioButton</include>
					<include>menu_Button</include>
					<label>-</label>
					<visible>Window.IsActive(eventlog)</visible>
				</control>
				<!--clear-->
				<control type="button" id="20">
					<include>menu_Button</include>
					<label>$LOCALIZE[192]</label>
					<visible>Window.IsActive(eventlog)</visible>
				</control>
				<!--now playing-->
				<include>menu_Playing</include>
			</control>
		</control>
	</include>

<!--WEATHER-->
	<include name="menu_Weather">
		<control type="group">
			<include>menu_Commons</include>
			<control type="grouplist" id="6000">
				<include>menu_ContainerCommons</include>
				<!--weather functions-->
				<control type="label" id="203">
					<label>$LOCALIZE[8]</label>
					<include>menu_Header</include>
				</control>
				<!--location-->
				<control type="group" id="300">
					<height>46</height>
					<onright>50</onright>
					<control type="spincontrolex" id="3">
						<label>-</label>
						<font>-</font>
						<onup>218</onup>
						<ondown>2</ondown>
						<onright>50</onright>
						<textureup colordiffuse="base_2">settings/spin/up-nf.png</textureup>
						<textureupfocus colordiffuse="Color1">settings/spin/up-fo.png</textureupfocus>
						<texturedown colordiffuse="base_2">settings/spin/down-nf.png</texturedown>
						<texturedownfocus colordiffuse="Color1">settings/spin/down-fo.png</texturedownfocus>
						<include>menu_Button</include>
					</control>
					<control type="label" id="301">
						<label>$LOCALIZE[35500]</label>
						<width>175</width>
						<include>menu_Button</include>
					</control>
				</control>
				<!--refresh-->
				<control type="button" id="2">
					<label>$LOCALIZE[103]</label>
					<onright>50</onright>
					<include>menu_Button</include>
				</control>
				<!--settings-->
				<control type="button" id="4">
					<label>$LOCALIZE[5]</label>
					<onclick>ActivateWindow(MyWeatherSettings)</onclick>
					<include>menu_Button</include>
				</control>
				<!--options-->
				<control type="label" id="204">
					<label>$LOCALIZE[33063]</label>
					<include>menu_Header</include>
				</control>
				<!--fanart-->
				<control type="radiobutton" id="5">
					<label>$LOCALIZE[31231]</label>
					<onclick>Skin.ToggleSetting(fanart.weather)</onclick>
					<selected>Skin.HasSetting(fanart.weather)</selected>
					<onclick condition="!Skin.HasSetting(fanart.weather)">RunScript(script.image.resource.select,property=WeatherFanart&amp;type=resource.images.weatherfanart)</onclick>
					<include>menu_RadioButton</include>
					<include>menu_Button</include>
				</control>
				<!--commons-->
				<include>menu_Playing</include>
			</control>
		</control>
	</include>
</includes>
