<window id="4">
	<defaultcontrol always="true">50</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<include>global_Background</include>
		<include>global_Includes</include>
		<control type="group">
			<include>windowTitle_System</include>
			<control type="panel" id="50">
				<posx>60</posx>
				<posy>100</posy>
				<width>1200</width>
				<height>570</height>
				<onleft>50</onleft>
				<onright>50</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<scrolltime>200</scrolltime>
				<include>transition_Container</include>	
				<itemlayout width="600" height="95">
					<control type="image">
						<posx>6</posx>
						<posy>6</posy>
						<width>84</width>
						<height>84</height>
						<info>ListItem.Icon</info>
					</control>
					<control type="label">
						<posx>105</posx>
						<posy>12</posy>
						<width>455</width>
						<height>40</height>
						<font>titleSpecial</font>
						<textcolor>Color1</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="label">
						<posx>105</posx>
						<posy>51</posy>
						<width>455</width>
						<height>34</height>
						<font>smallCaps</font>
						<textcolor>Color2</textcolor>
						<label>$INFO[ListItem.Label2]</label>
					</control>
				</itemlayout>
				<focusedlayout width="600" height="95">
					<control type="image">
						<width>575</width>
						<height>95</height>
						<texture border="83,23,23,23">settings/list-focus2.png</texture>
					</control>
					<control type="image">
						<posx>6</posx>
						<posy>6</posy>
						<width>84</width>
						<height>84</height>
						<texture>$INFO[ListItem.Property(focused)]</texture>
					</control>
					<control type="label">
						<posx>105</posx>
						<posy>12</posy>
						<width>455</width>
						<height>40</height>
						<font>titleSpecial</font>
						<textcolor>Color5</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="label">
						<posx>105</posx>
						<posy>51</posy>
						<width>455</width>
						<height>34</height>
						<font>smallCaps</font>
						<textcolor>Color5</textcolor>
						<label>$INFO[ListItem.Label2]</label>
					</control>
				</focusedlayout>
			 	<content>
					<item id="1">
						<label>$LOCALIZE[157]</label>
						<icon>settings/icons/nf-settings_video.png</icon>
						<property name="focused">settings/icons/fo-settings_video.png</property>
						<onclick>ActivateWindow(MyVideosSettings)</onclick>
						<label2>$LOCALIZE[14022] · $LOCALIZE[14086] · $LOCALIZE[24012] · $LOCALIZE[14087]</label2>
					</item>
					<item id="2">
						<label>$LOCALIZE[480]</label>
						<label2>$LOCALIZE[166] · $LOCALIZE[248] · $LOCALIZE[360]</label2>
						<icon>settings/icons/nf-settings_appearance.png</icon>
						<property name="focused">settings/icons/fo-settings_appearance.png</property>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
					</item>
					<item id="3">
						<label>$LOCALIZE[2]</label>
						<label2>$LOCALIZE[14022] · $LOCALIZE[14086] · $LOCALIZE[13327] · $LOCALIZE[620]</label2>
						<icon>settings/icons/nf-settings_music.png</icon>
						<property name="focused">settings/icons/fo-settings_music.png</property>
						<onclick>ActivateWindow(MyMusicSettings)</onclick>
					</item>
					<item id="4">
						<label>$LOCALIZE[166]</label>
						<label2>$LOCALIZE[31124] · $LOCALIZE[31015] · $LOCALIZE[31016]</label2>
						<icon>settings/icons/nf-settings_skin.png</icon>
						<property name="focused">settings/icons/fo-settings_skin.png</property>
						<onclick>ActivateWindow(59)</onclick>
					</item>
					<item id="5">
						<label>$LOCALIZE[1]</label>
						<label2>$LOCALIZE[108] · exif · $LOCALIZE[31014]</label2>
						<icon>settings/icons/nf-settings_pictures.png</icon>
						<property name="focused">settings/icons/fo-settings_pictures.png</property>
						<onclick>ActivateWindow(MyPicturesSettings)</onclick>
					</item>
					<item id="6">
						<label>$LOCALIZE[705]</label>
						<label2>$LOCALIZE[14036] · $LOCALIZE[798]</label2>
						<icon>settings/icons/nf-settings_network.png</icon>
						<property name="focused">settings/icons/fo-settings_network.png</property>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
					</item>
					<item id="7">
						<label>$LOCALIZE[31985]</label>
						<label2>$LOCALIZE[31986] · $LOCALIZE[31987] · $LOCALIZE[31988] · $LOCALIZE[31990]</label2>
						<icon>settings/icons/nf-settings_livetv.png</icon>
						<property name="focused">settings/icons/fo-settings_livetv.png</property>
						<onclick>ActivateWindow(TVSettings)</onclick>
					</item>
					<item id="8">
						<label>$LOCALIZE[13000]</label>
						<label2>$LOCALIZE[31123] · $LOCALIZE[14095] · $LOCALIZE[14094]</label2>
						<icon>settings/icons/nf-settings_system.png</icon>
						<property name="focused">settings/icons/fo-settings_system.png</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="9">
						<label>$LOCALIZE[24001]</label>
						<label2>$LOCALIZE[31121] · $LOCALIZE[24038] · $LOCALIZE[24020]</label2>
						<icon>settings/icons/nf-settings_addons.png</icon>
						<property name="focused">settings/icons/fo-settings_addons.png</property>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
					</item>
					<item id="10">
						<label>$LOCALIZE[13200]</label>
						<label2>$LOCALIZE[20067] · $LOCALIZE[20096]</label2>
						<icon>settings/icons/nf-settings_profiles.png</icon>
						<property name="focused">settings/icons/fo-settings_profiles.png</property>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="11">
						<label>$LOCALIZE[8]</label>
						<label2>$LOCALIZE[396] · $LOCALIZE[31122]</label2>
						<icon>settings/icons/nf-settings_weather.png</icon>
						<property name="focused">settings/icons/fo-settings_weather.png</property>
						<onclick>ActivateWindow(MyWeatherSettings)</onclick>
					</item>
					<item id="12">
						<label>$LOCALIZE[31948]</label>
						<label2>$LOCALIZE[154] · $LOCALIZE[705] · $LOCALIZE[157] · $LOCALIZE[13281]</label2>
						<icon>settings/icons/nf-settings_information.png</icon>
						<property name="focused">settings/icons/fo-settings_information.png</property>
						<onclick>ActivateWindow(systeminfo)</onclick>
					</item>
				</content>
			</control>  
		</control>
	</controls>
</window>