<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">50</defaultcontrol>
	<menucontrol>6000</menucontrol>
	<controls>
		<include>global_Background</include>
		<include>global_Includes</include>
		<include>global_MenuGuide</include>

		<control type="group">	
			<!--window header-->
			<include content="windowTitle">
				<param name="Label" value="$VAR[window:Title.System]"/>
			</include>

			<include content="global_Itemcount">
				<param name="InfoLabel" value="$INFO[System.FriendlyName]"/>
			</include>

			<control type="panel" id="50">
				<left>165</left>
				<top>120</top>
				<width>950</width>
				<height>560</height>
				<onleft>6000</onleft>
				<onright>50</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<include>toggle_Menu</include>
				<include>global_ListScroll</include>
				<include>transition_Content</include>	
				<itemlayout width="950" height="70">
					<control type="image">
						<width>62</width>
						<height>62</height>
						<include>art_Frame-nf</include>
					</control>
					<control type="image">
						<left>7</left>
						<top>7</top>
						<width>48</width>
						<height>48</height>
						<info>ListItem.Icon</info>
					</control>
					<control type="group">
						<left>77</left>
						<top>0</top>
						<control type="label">	
							<width>980</width>
							<height>40</height>
							<font>light_ColumnHeader</font>
							<label>$INFO[ListItem.Label]</label>
						</control>
						<control type="label">
							<top>30</top>
							<width>980</width>
							<height>34</height>
							<label>$INFO[ListItem.Label2]</label>
							<font>regular_Smaller-U-B</font>
							<textcolor>Color2</textcolor>
						</control>
					</control>
				</itemlayout>
				<focusedlayout width="950" height="70">
					<control type="image">
						<width>1090</width>
						<height>62</height>
						<include>art_Frame-fo</include>
					</control>
					<control type="image">
						<left>7</left>
						<top>7</top>
						<width>48</width>
						<height>48</height>
						<info>ListItem.Icon</info>
						<colordiffuse>Color.Dark.Primary</colordiffuse>
					</control>
					<control type="group">
						<left>77</left>
						<top>0</top>
						<control type="label">	
							<width>980</width>
							<height>40</height>
							<font>light_ColumnHeader</font>
							<textcolor>Color5</textcolor>
							<label>$INFO[ListItem.Label]</label>
						</control>
						<control type="label">
							<top>30</top>
							<width>980</width>
							<height>34</height>
							<label>$INFO[ListItem.Label2]</label>
							<font>regular_Smaller-U-B</font>
							<textcolor>Color5</textcolor>
						</control>
					</control>

				</focusedlayout>
			 	<content>
			 		<!--interface-->
			 		<item id="1">
						<label>$LOCALIZE[14206]</label>
						<label2>$LOCALIZE[166] &#8226; $LOCALIZE[14222] &#8226; $LOCALIZE[24008] &#8226; $LOCALIZE[12360] &#8226; $LOCALIZE[14224]</label2>
						<icon>DefaultAddonSkin.png</icon>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
					</item>
					<!--library-->
					<item id="2">
						<label>$LOCALIZE[15100]</label>
						<label2>$LOCALIZE[14219] &#8226; $LOCALIZE[544] &#8226; $LOCALIZE[14081] &#8226; $LOCALIZE[21412]</label2>
						<icon>DefaultAddonLibrary.png</icon>
						<onclick>ActivateWindow(MediaSettings)</onclick>
					</item>
					<!--player-->
					<item id="3">
						<label>$LOCALIZE[16003]</label>
						<label2>$LOCALIZE[14086] &#8226; $LOCALIZE[14087] &#8226; $LOCALIZE[1] &#8226; $LOCALIZE[248] &#8226; $LOCALIZE[37032]</label2>
						<icon>DefaultMovies.png</icon>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
					</item>
					<!--profile-->
					<item id="4">
						<label>$LOCALIZE[13200]</label>
						<label2>$LOCALIZE[20067] &#8226; $LOCALIZE[20096]</label2>
						<icon>DefaultIconProfile.png</icon>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<!--reFocus-->
					<item id="5">
						<label>reFocus</label>
						<label2>$LOCALIZE[31200] &#8226; $LOCALIZE[31201] &#8226; $LOCALIZE[31100] &#8226; $LOCALIZE[31722] &#8226; $LOCALIZE[14224]</label2>
						<icon>DefaultIconreFocus.png</icon>
						<onclick>ActivateWindow(SkinSettings)</onclick>
					</item>
					<!--services-->
					<item id="6">
						<label>$LOCALIZE[14036]</label>
						<label2>$LOCALIZE[790] &#8226; $LOCALIZE[20187] &#8226; $LOCALIZE[1273] &#8226; $LOCALIZE[1200] &#8226; $LOCALIZE[12600]</label2>
						<icon>DefaultAddonService.png</icon>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
					</item>
			 		<!--system-->
					<item id="7">
						<label>$LOCALIZE[13000]</label>
						<label2>$LOCALIZE[131] &#8226; $LOCALIZE[14221] &#8226; $LOCALIZE[14125] &#8226; $LOCALIZE[798] &#8226; $LOCALIZE[14095] &#8226; $LOCALIZE[24001] &#8226; $LOCALIZE[14092]</label2>
						<icon>DefaultIconSettings.png</icon>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<!--tv-->
					<item id="8">
						<label>$LOCALIZE[19020]</label>
						<label2>$LOCALIZE[19019] &#8226; $LOCALIZE[19181] &#8226; $LOCALIZE[19222] &#8226; $LOCALIZE[14086] &#8226; $LOCALIZE[19043] &#8226; $LOCALIZE[14095] &#8226; $LOCALIZE[19259]</label2>
						<icon>DefaultIconTV.png</icon>
						<onclick>ActivateWindow(PVRSettings)</onclick>
					</item>
				</content>
			</control>

		<!--menu-->
			<include>menu_Settings</include>

		</control>
	</controls>
</window>