<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">50</defaultcontrol>
	<controls>
		<include>global_Background</include>
		<include>global_Includes</include>
		<control type="group">
			
			<!--window header-->
			<include name="windowTitle">
				<param name="Left" value="32"/>
				<param name="Label" value="$VAR[window:Title.System]"/>
			</include>

			<control type="panel" id="50">
				<left>90</left>
				<top>80</top>
				<width>1100</width>
				<height>600</height>
				<onleft>50</onleft>
				<onright>50</onright>
				<onup>50</onup>
				<ondown>50</ondown>
				<include>global_ListScroll</include>
				<include>transition_Content</include>	
				<itemlayout width="550" height="100">
					<control type="image">
						<width>94</width>
						<height>94</height>
						<include>art_Frame-nf</include>
					</control>
					<control type="image">
						<left>7</left>
						<top>7</top>
						<width>80</width>
						<height>80</height>
						<info>ListItem.Icon</info>
					</control>
					<control type="label">
						<left>110</left>
						<top>10</top>
						<width>410</width>
						<height>40</height>
						<font>light_Category</font>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="label">
						<left>110</left>
						<top>46</top>
						<width>410</width>
						<height>34</height>
						<label>$INFO[ListItem.Label2]</label>
						<include>detail_Sub</include>
					</control>
				</itemlayout>
				<focusedlayout width="550" height="100">
					<control type="image">
						<width>540</width>
						<height>94</height>
						<include>art_Frame-fo</include>
					</control>
					<control type="image">
						<left>7</left>
						<top>7</top>
						<width>80</width>
						<height>80</height>
						<info>ListItem.Icon</info>
						<colordiffuse>base_1</colordiffuse>
					</control>
					<control type="label">
						<left>110</left>
						<top>10</top>
						<width>410</width>
						<height>40</height>
						<font>light_Category</font>
						<textcolor>Color5</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
					<control type="label">
						<left>110</left>
						<top>46</top>
						<width>410</width>
						<height>34</height>
						<label>$INFO[ListItem.Label2]</label>
						<textcolor>Color5</textcolor>
						<include>detail_Sub</include>
					</control>
				</focusedlayout>
			 	<content>
					<item id="1">
						<label>$LOCALIZE[157]</label>
						<icon>DefaultMovies.png</icon>
						<onclick>ActivateWindow(MyVideosSettings)</onclick>
						<label2>$LOCALIZE[14022] &#8226; $LOCALIZE[14086] &#8226; $LOCALIZE[24012] &#8226; $LOCALIZE[14087]</label2>
					</item>
					<item id="2">
						<label>$LOCALIZE[480]</label>
						<label2>$LOCALIZE[166] &#8226; $LOCALIZE[248] &#8226; $LOCALIZE[360]</label2>
						<icon>DefaultAddonSkin.png</icon>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
					</item>
					<item id="3">
						<label>$LOCALIZE[2]</label>
						<label2>$LOCALIZE[14022] &#8226; $LOCALIZE[14086] &#8226; $LOCALIZE[14081] &#8226; $LOCALIZE[620]</label2>
						<icon>DefaultMusicSongs.png</icon>
						<onclick>ActivateWindow(MyMusicSettings)</onclick>
					</item>
					<item id="4">
						<label>reFocus</label>
						<label2>$LOCALIZE[31200] &#8226; $LOCALIZE[31202] &#8226; $LOCALIZE[20445]</label2>
						<icon>DefaultIconreFocus.png</icon>
						<onclick>ActivateWindow(skinsettings)</onclick>
					</item>
					<item id="5">
						<label>$LOCALIZE[1]</label>
						<label2>$LOCALIZE[108] &#8226; exif &#8226; $LOCALIZE[31113]</label2>
						<icon>DefaultPicture.png</icon>
						<onclick>ActivateWindow(MyPicturesSettings)</onclick>
					</item>
					<item id="6">
						<label>$LOCALIZE[14036]</label>
						<label2>UPnP &#8226; $LOCALIZE[33101] &#8226; Zeroconf &#8226; AirPlay</label2>
						<icon>DefaultAddonService.png</icon>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
					</item>
					<item id="7">
						<label>$LOCALIZE[19020]</label>
						<label2>$LOCALIZE[19019] &#8226; $LOCALIZE[19069] &#8226; $LOCALIZE[14086] &#8226; $LOCALIZE[19043]</label2>
						<icon>DefaultIconTV.png</icon>
						<onclick>ActivateWindow(TVSettings)</onclick>
					</item>
					<item id="8">
						<label>$LOCALIZE[13000]</label>
						<label2>$LOCALIZE[31281] &#8226; $LOCALIZE[14095] &#8226; $LOCALIZE[14094]</label2>
						<icon>DefaultIconSettings.png</icon>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="9">
						<label>$LOCALIZE[24001]</label>
						<label2>$LOCALIZE[31700] &#8226; $LOCALIZE[24038] &#8226; $LOCALIZE[24020]</label2>
						<icon>DefaultAddon.png</icon>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
					</item>
					<item id="10">
						<label>$LOCALIZE[13200]</label>
						<label2>$LOCALIZE[20067] &#8226; $LOCALIZE[20096]</label2>
						<icon>DefaultIconProfile.png</icon>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
					<item id="11">
						<label>$LOCALIZE[8]</label>
						<label2>$LOCALIZE[396] &#8226; $LOCALIZE[31280]</label2>
						<icon>DefaultAddonWeather.png</icon>
						<onclick>ActivateWindow(MyWeatherSettings)</onclick>
					</item>
					<item id="12">
						<label>$LOCALIZE[19033]</label>
						<label2>$LOCALIZE[154] &#8226; $LOCALIZE[705] &#8226; $LOCALIZE[157] &#8226; $LOCALIZE[13281]</label2>
						<icon>DefaultIconInfo.png</icon>
						<onclick>ActivateWindow(systeminfo)</onclick>
					</item>
				</content>
			</control>  
		</control>
	</controls>
</window>